[submodule "A"]
	path = A
	url = git@github.com:it-mengge/A.git
[submodule "D/A"]
	path = D/A
	url = git@github.com:zeromicro/go-zero.git
[submodule "E"]
	path = E
	url = git@github.com:it-mengge/A.git
